/* 
* @Author: Marte
* @Date:   2018-07-04 11:08:41
* @Last Modified by:   Marte
* @Last Modified time: 2018-07-05 16:05:52
*/
body{background: #f5f5f5;}
#header{background:black;}

#header .container{height: 70px;}
#header .header-right a{display: inline-block;color:#999;line-height: 70px;padding:0 10px;font-size: 12px;}
#header .header-right a:hover{color:#f8a120;}

#box{width: 100%;height: 780px;background: #FDF8F4;padding:30px 0;}

#box .container{height: 720px;margin: 0 auto;background: url('../img/zhucebackground.png')no-repeat;}
#box .t-right{width: 145px;height: 35px;line-height: 40px;color: #666;float:right;}
#box .login_in{width: 380px;padding:30px 35px;float: right;background-color: #fff;margin-top: 80px;position: relative;font-size: 12px;}
#box .login_in .loginBox{width: 310px;margin:0 auto 30px;}
#box  .loginBox .title{height: 20px;margin-bottom: 50px;}
#box .title li{margin-bottom: 15px;width: 50%;float: left;text-align: center;cursor: pointer;color: #666;font-size: 18px;line-height: 20px;}
#box .erweima{width: 310px;height: 247px;position:relative;}
#box .erweima img{position:absolute;left:59px;top:0;}
#box .erweima p{font-size: 14px;font-weight:bold;color:#000;position:absolute;top:90%;left:25%;}
#box .erweima p a{font-size: 14px;font-weight: bold;color: #f19108;margin: 0 5px;text-decoration: underline;}

#box .mima{display:none;}
#box .login_all ul li{margin-bottom: 15px;width: 310px;}
#box .login_all li input{width: 310px;height: 48px;line-height: 20px;padding: 14px 5px;border: 1px solid #dedede;font-size: 14px;font-weight: bold;}

#box .login_all li .check{width: 13px;height: 13px;}

#box .btn_submit input{width: 100%;background-color: #f19108;border: 0;cursor: pointer;font-size: 16px;color: #fff;font-weight: bold;text-align: center;height: 50px;}


#box .weixin{padding-bottom: 30px;}
#box .weixin p{color: #999;padding: 5px 0;font-size: 12px;}
#box .weixin p:nth-child(2) a{display: inline-block;width:60px;height: 25px;cursor: pointer;padding-right: 10px;color:#666;}
#box .weixin p:nth-child(2) a:hover{color:#f8a120;}
#box .msg span:first-child{color:#999;}
#box .msg span:first-child a{color:#f8a120;}
#box .msg span:last-child a{color:#666;}
#box .msg span:last-child a:hover{color:#f8a120;}
#footer{height:384px;font-size: 14px;margin-top: 70px;padding: 37px 0 66px;background: #f5f5f5;}
#footer .container{height: 384px;}
#footer ul{overflow:hidden;height: 136px;}
#footer ul li{display:list-item;float:left;width: 236px;;}
#footer ul li a{display:block;line-height: 34px;color:black;}
#footer ul li a:hover{color:#f8a120;}

#footer .footer_b{margin-top: 25px;}
#footer p{line-height: 36px;}
#footer p span{margin-right: 28px;}
#footer p:nth-child(1) a{color:black;}
#footer p:nth-child(1) a:hover{color:#f8a120;}
#footer p:nth-child(3){margin-top: 8px;}
#footer p:nth-child(3) a{float:left;margin-right: 20px;width: 108px;height: 40px;}